body {
    background-color: white;
}

header {
    background-color: red;
    text-color: black;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
  }

article {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 45px 45px 45px 45px;
}

article img {
    width: 100px;
}

p {
    color: blue
}

footer {
    background-color: blue;
    text-align: center;
}
