body {
    background-color: white;
}

header {
    background-color: red;
    text-color: black;
}

nav {
    color: black;
    font-size: medium;
    float: left;
}

#articleimage {
    height: 10px;
    width: 10px;
    margin: 10px;
}

article {
    float: left;
    width: 33%;
    vertical-align: middle;
}



p {
    color: blue
}