body {
    background-color: white;
}

header {
    background-color: red;
    text-color: black;
    text-align: center;
}

nav {
    color: black;
    font-size: medium;
    display: table-cell;
    float: left;
}

article {
    display: inline-block;
    text-align: center;
    height: 200px;
}

article img {
    width: 100px;
}

p {
    color: blue
}

footer {
    background-color: blue;
}