body {
    background-color: white;
}

header {
    background-color: red;
    text-color: black;
}

nav {
    color: black;
    font-size: medium;
    float: right;
}

article {
    float: left;
    width: 33%;
}

#articleimage {
    height: 100px;
    width: 100px;
    margin: 10px;
}

p {
    color: blue
}